<div class="container mx-auto">
  <div class="flex flex-col items-center justify-center my-2 space-y-4">
    <%= image_tag 'mondai.png', class: 'rounded-lg' %>
  </div>
  <div class="card w-full bg-base-100 shadow-xl z-0 flex relative">
    <div class="card-body items-center text-center">
    <div class="flex flex-col items-center justify-center space-y-4">
    <%= image_tag @q.image_url, width: 250, height: 200, class: 'rounded-lg' %>
    <div class="flex flex-col items-center justify-center mt-4 space-y-2">
      <h1 class="text-l font-bold text-center"><%= @q.author %>画伯（ <%= @q.age %> 歳）の作品</h1>
    </div>
      <h2 class="card-title">この絵のタイトルは？</h2>
      <%= form_with url: answer_path, method: :get, class: 'w-full' do |f| %>
        <%= f.hidden_field :question_id, value: @q.id %>
        <div class="space-y-2">
          <% @choices.each do |c| %>
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text ml-2 text-xl font-bold"><%= c.answer %></span>
                <%= f.radio_button :choice_id, c.id, class: 'radio radio-primary' %>
              </label>
            </div>
          <% end %>
        </div>
        <div class="mt-4">
          <%= f.submit '回答する', class: 'btn btn-primary w-full' %>
        </div>
      <% end %>
    </div>
  </div>
</div>