<div class="container mx-auto">
  <div class="flex h-0 justify-center items-center my-4">
    <%= image_tag 'mondai.png' %>
  </div>
  <div class="flex h-30 justify-center items-center mt-10">
    <%= image_tag @q.image_url, width: 300, height: 300 %>
  </div>
  <div class="flex h-30 justify-center items-center">
    <h1 class="text-l font-bold text-right">©︎2024 <%= @q.author %>画伯(<%= @q.age %>歳)</h1>
  </div>
  <div class="card-body items-center text-center">
    <h2 class="card-title">これだ！と思うのをクリックするのじゃ</h2>
    <%= image_tag 'gahakukun.png', width: 100, height: 100 %>
    <%= form_with url: answer_path, method: :get do |f| %>
      <%# paramsで送るのは :question_id=@q.id, :choice_id=c.id %>
      <%= f.hidden_field :question_id, value: @q.id %>
      <% @choices.each do |c| %>
        <%= f.radio_button :choice_id, c.id %>
        <%= f.label :choice_id, c.answer, value: c.id %>
      <% end %>
      <%= f.submit '回答する', class: 'btn btn-primary' %>
    <% end %>    
  </div>
</div>