<div class="card shadow-lg compact bg-base-100 p-4">
  <div class="card-body flex flex-col items-center justify-center">
    <div class="text-2xl font-bold mb-4 text-center">
      <p>お題 : <%= @shiritori_game.game_title %></p>
    </div>
    <div class="badge badge-<%= shiritori_status_class(@shiritori_game.status) %> gap-2 text-black text-2xl p-4">
      <p class="p-4">しりとり : <%= @shiritori_game.enum_i18n(:status) %></p>
    </div>
    <div class="flex flex-row justify-around">
      <p class="text-xl mb-2"><i class="fa fa-pencil" aria-hidden="true"></i> <%= @shiritori_game.user.name %></p>
    </div>
    <h2 class="text-xl font-bold mb-4 text-center">作品一覧</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @drawings.each do |d| %>
        <div class="card shadow-md compact bg-base-100 p-4">
          <%= image_tag d.artwork_url, class: "rounded-lg w-full h-64 object-cover" %>
          <div class="mt-4 flex flex-col justify-center">
            <p class="text-2xl mb-2">タイトル : <%= d.display_title %></p>
            <p class="text-lg mb-2"><%= d.enum_i18n(:turn_count)%> : <%= d.user.name %>画伯</p>
            <% if current_user.own?(d) %>
              <%= link_to '編集', edit_drawing_path(d), class: "btn btn-link" %>
              <%= link_to "Xでシェア", "https://twitter.com/share?url=#{request.original_url}&text=お題『#{d.shiritori_game.game_title}』に#{d.enum_i18n(:turn_count)}の画伯で投稿したよ！%0aしりとり成功できるかな？%0a%23がはくのきもち%20%23バトラン%20%23RUNTEQ%0a", class: "btn btn-link", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center mt-4">
      <% if @shiritori_game.next_turn != 'ゲーム終了' %>
        <%= link_to @shiritori_game.next_turn, new_shiritori_game_drawing_path(@shiritori_game), class: "btn btn-primary mt-4" %>
      <% else %>
        <span class="btn btn-primary mt-4 disabled"><%= @shiritori_game.next_turn %></span>
      <% end %>

      <%= link_to 'お題一覧に戻る', shiritori_games_path, class: "btn mt-4" %>
    </div>
  </div>
</div>