<header>
  <div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">
      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag 'title.png' %>
      <% end %>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to 'クイズを作る', new_question_path %>
      </li>
      <li>
        <%= link_to 'クイズを見る', questions_path %>
      </li>
      <li>
        <details>
          <summary>
            <%= image_tag 'gahakukun.png', class: 'rounded-circle mr15', width: '40', height: '40' %>
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><%= link_to 'プロフィール', '#', class: 'p-2.5' %></li>
            <li><%= link_to 'ログアウト', '#', class: 'p-2.5' %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
</header>