<!DOCTYPE html>
<html>
  <head>
    <title>GahakuNoKimochi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- twitterカード -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@runte999">
    <meta name="twitter:title" content="がはくのきもち">
    <meta name="twitter:description" content="わすれかけたこどもごころ。かんせいをよびさまそう。">
    <meta name="twitter:image" content="https://gahaku-no-kimochi.onrender.com/assets/gahaku_no_kimochi.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='flex flex-col'>
    <!-- ヘッダー -->
    <header>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </header>
    <main>
      <div class="container mx-auto my-20 px-5 flex flex-col justify-center items-center">
        <!-- フラッシュメッセ -->
        <%= render 'shared/flash_message' %>
        <!-- アクションごとに表示 -->
        <div class="mt-10">
          <%= yield %>
        </div>
      </div>
    </main>
    <!-- フッター -->
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>